 legend {
    font-size: 14px;
 }

 table {
    width: 100%;
    color: black;
    /*  background: white;
    Цвет фона таблицы */
    /* Цвет текста 
    border: 1px solid blue;     */
    align-content: center;
 }

 td, th, tr {
    /*background: maroon;  Цвет фона ячеек */
    padding: 0px;
    /* Поля вокруг текста     
    border: 1px solid red;         */
    /*min-width: 20px;*/
 }

 .tableDevice {
    color: black;
    width: auto;
    margin: 0;
    /* Цвет текста 
    border: 3px solid red;   */
    align-content: center;
 }

 .tableDevice_nav {
    width: 100%;
    height: 30px;
 }

 #td_Full {
    width: 90%;
    text-align: center;
 }

 #td_Left {
    min-width: 290px;
    height: 80px;
    max-height: 80px;
 }

 #td_Left_PL {
    min-width: 290px;
    height: 74px;
    max-height: 74px;
    min-height: 74px;
 }

 .Dev_TBL {
    margin-right: 0px;
    border: 3px ridge rgb(250, 246, 246);
    /*min-height: 2600px;*/
 }

 .DevS_TBL {
    margin-right: 0px;
    /*  margin: 10px;
     Цвет текста   
   border: 4px ridge rgb(0, 141, 141); */
    border: 3px ridge rgb(250, 246, 246);
    /*min-height: 2510px;*/
 }

 /*
 .DevS_tr {
    
    border: 4px ridge rgb(0, 141, 141);
 }
 */

 #li_Level {
    font-size: 12px;
    /* white-space: nowrap; */
    text-align: left;
    width: 260px;
    background: white;
    border: 3px ridge rgb(250, 246, 246);
    vertical-align: top;
    margin-top: 6px;
    margin-bottom: 6px;
 }

 #Li_Level, #Li_Level_tco {
    text-align: center;
    width: 30px;
    min-width: 110px;
    background: white;
    border: 3px ridge rgb(250, 246, 246);
    vertical-align: top;
    margin-top: 6px;
    margin-bottom: 6px;
 }

 #Li_Level_Price {
   text-align: center;
   width: 30px;
   min-width: 110px;
   background: white;
   border: 0px ridge rgb(250, 246, 246);
   vertical-align: top;
   margin-top: 0px;
   margin-bottom: 0px;
}
#Li_Level_Price_TD {
   margin-top: 1.5px;
   margin-bottom: 3px;
}

 #Li_Level_tco {
    font-size: 10px;
 }

 #td_top {
    vertical-align: top;
 }

 #td_ID {
    vertical-align: text-top;
    height: 49px;
 }

 #td_ID_MinFont {
    vertical-align: text-top;
    height: 49px;
    font-size: 10px;
 }

 #td_ID_Filter {
    vertical-align: text-top;
    height: 28px;
 }

 .test0:hover, .test1:hover, .test2:hover, .test3:hover {
    /*    font-size: 20.5px;*/
    color: blue;
    cursor: pointer;
 }

 /*DropdownTreeSelect {
    font-size: 10px;
    vertical-align: top;
    min-width: 200px;
    
 }*/

 #TD_DEV {
    border: 3px ridge rgb(250, 246, 246);
    /*border: 3px ridge rgb(250, 246, 246);
    border: 1px ridge rgb(0, 0, 0);*/
 }
