 legend {
    font-size: 14px;
 }
 table {
    /*  background: white;
    Цвет фона таблицы */
    color: black;
    /* Цвет текста   
    border: 2px solid red;    */
    width: 99.9%;
    
 }
 td, th, tr {
    /*background: maroon;  Цвет фона ячеек */
    padding: 0px;
    /* Поля вокруг текста 
    border: 1px solid black;    */
    min-width: 20px;
 }

