 nav {
    background: rgb(0, 141, 141);
    /* rgb(0, 21, 41);*/
    position: fixed;
    top: 0px;
    width: 99.5%;
    display: table;
    z-index: 1000;
 }

 .Nav1 {
    top: 30px;
    margin-left: -2px;
    background: white;
    z-index: 10;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    border-bottom: 1px solid #CBCBCC;
 }

 .header_Inner {
    display: table;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 35px;
 }

 .headermenu {
    padding-top: 10px;
    color: white;
    text-align: left;
    position: absolute;
    left: 10px;
 }

 .header_Img {
    display: table-cell;
    vertical-align: middle;
    margin-left: 10px;
 }

 .header_Left {
    display: table;
    width: 170px;
    position: absolute;
    /* блок занимает ширину содержимого, max-width её ограничивает 
    top: 0;*/
    /* прикрепить к верху родителя */
    right: 0;
    max-width: 8em;
    min-height: 2em;
    vertical-align: middle;
 }

 .header_Text {
    color: rgb(235, 235, 235);
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    min-width: 170px;
 }

 .header_Text_Table {
    color: rgb(235, 235, 235);
 }

 .submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
 }

 .btn_Reload {
    background: rgb(0, 141, 141);
    border: 0px solid rgb(0, 141, 141);
 }

 /*****************************************************************/

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
 * {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    /* font-family: 'Open Sans', sans-serif;*/
 }

 nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }

 nav ul:after {
    content: "";
    display: table;
    clear: both;
 }

 nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
 }

 .topmenu>li {
    float: center;
    position: relative;
    border-left: 1px solid black;
 }

 .topmenu>li:first-child {
    border-left: 0;
 }

 .topmenu>li>a {
    padding: 8px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #FEFDFD;
    letter-spacing: 2px;
 }

 .topmenu>li>a.active, .submenu a:hover {
    color: black;
 }

 .topmenu .fa, .submenu .fa {
    margin-left: 5px;
    color: inherit;
 }

 .submenu li {
    position: relative;
 }

 .submenu li a {
    color: #282828;
    padding: 7px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CBCBCC;
 }

 .submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
 }

 nav li:hover>.submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
 }

 #td_Left_nav {
    min-width: 90px;
    height: 30px;
    max-height: 30px;
 }

 #filter_nav_Left {
    width: 240px;
    max-width: 240px;
    min-width: 240px;
    max-height: 20px;
    min-height: 20px;
    height: 20px;
    color: white;
    background: white;
 }

 .filter_main {
    font-size: 7;
    color: red;
 }

 .div_Region {
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    /*Скругленные углы*/
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    /*background: linear-gradient( rgb(4, 231, 231), rgb(1, 107, 107)) rgb(126, 255, 255);*/
    transition: 0.2s;
    /*Тень*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    min-width: 80px;
    color: whitesmoke;
 }

 .btn_nav {
    margin-top: 5px;
    width: 20px;
    left: 20px;
    float: right;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    font-weight: 60;
    width: 17px;
    height: 17px;
    /*Скругленные углы*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: linear-gradient(white, whitesmoke) rgb(126, 255, 255);
    transition: 0.2s;
    /*Тень
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);*/
    min-width: 17px;
    color: black;
 }

 .Def_button {
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 90%;
    height: 27px;
    /*Скругленные углы*/
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: linear-gradient( rgb(4, 231, 231), rgb(1, 107, 107)) rgb(126, 255, 255);
    transition: 0.2s;
    color: white;
 }

 .Min_button {
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 27px;
    height: 27px;
    /*Скругленные углы*/
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: linear-gradient( rgb(4, 231, 231), rgb(1, 107, 107)) rgb(126, 255, 255);
    transition: 0.2s;
    color: white;
 }

 .Min_button_EMAIL {
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 27px;
    height: 27px;
    /*Скругленные углы*/
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: linear-gradient( rgb(255, 239, 18), rgb(145, 135, 0)) rgb(255, 245, 108);
    transition: 0.2s;
    color: white;
 }

 .Min_button_White {
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 27px;
    height: 27px;
    /*Скругленные углы*/
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: linear-gradient(white, whitesmoke) rgb(126, 255, 255);
    transition: 0.2s;
    color: white;
    margin-left: 20px;
 }