 .tb_PL {
     /*
     width: 130px;*/
     border: 0.1px solid rgb(0, 141, 141);
     padding-top: 20px;
     vertical-align: text-top;
 }

 .tb_PL_Icon {
    /*
    width:180px;*/
    border: 0.1px solid rgb(0, 141, 141);
    padding-top: 20px;
    vertical-align: text-top;
    font-size: 12px;
}


 .tb_NOZZ {
     /**/
     width: 90px;
     border: 0.1px solid rgb(0, 141, 141);
     padding-top: 20px;
     vertical-align: text-top;
     font-size: 12px;

     
 }
 
 .tb_TRK {
    /*
    width: 90px;*/
    border: 0.1px solid rgb(0, 141, 141);
    padding-top: 20px;
    vertical-align: text-top;
    font-size: 12px;

    
}

 .Def_button {
     padding: 1px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     font-weight: 600;
     width: 90%;
     height: 27px;
     /*Скругленные углы*/
     -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
     border-radius: 9px;
     background: linear-gradient( rgb(4, 231, 231), rgb(1, 107, 107)) rgb(126, 255, 255);
     transition: 0.2s;
     color: white;
 }

 .te_Mess {
     font-size: 12px;
     font-weight: 600;
     height: 100%;
     width: 100%;
 }

 .prokrutka_pl {
     width: 100%;
     /* ширина нашего блока */
     height: auto;/*710px;*/
     /* высота нашего блока 
     background: #fff;*/
     /* цвет фона, белый 
     border: 1px solid #C1C1C1;*/
     /* размер и цвет границы блока */
     overflow: auto;
     /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
 }
 .prokrutka_pl_Icon {
    width: 100%;
    background:white;
    /* ширина нашего блока */
    height: auto;/*690px;*/
    /* высота нашего блока 
    background: #fff;*/
    /* цвет фона, белый
    border: 1px solid #C1C1C1; */
    /* размер и цвет границы блока */
    overflow: auto;
    /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
}
.prokrutka_trk {
    width: 100%;
    /* ширина нашего блока */
    height: auto;/*410px;*/
    /* высота нашего блока 
   background: #fff;*/
    /* цвет фона, белый 
   border: 1px solid #C1C1C1;*/
    /* размер и цвет границы блока */
    overflow: auto;
    /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
}
 .prokrutka_noz {
     width: 100%;
     /* ширина нашего блока */
     height: auto;/*500px;*/
     /* высота нашего блока 
    background: #fff;*/
     /* цвет фона, белый 
    border: 1px solid #C1C1C1;*/
     /* размер и цвет границы блока */
     overflow: auto;
     /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
 }

 te_Mess_Level {
     min-height: 50px;
     font-size: 12px;
     font-weight: 600;
     height: 100%;
     width: 100%;
     text-align: center;
     color: black;
     background: burlywood;
 }

 ul.hr li {
     display: inline-block;
     /* Отображать как строчный элемент */
     margin-right: 0.15px;
     /* Отступ слева */
     /*border: 1px solid #000;*/
     /* Рамка вокруг текста */
     padding: 1.3px;
     /* Поля вокруг текста */
     color: rgb(163, 226, 245);
     vertical-align: text-top;
 }

 /******************************/

 .th_AZS {
     /* Шапка таблици*/
     text-align: center;
     /* Выравнивание по левому краю */
     background: rgb(0, 141, 141);
     /* Цвет фона ячеек */
     padding: 5px;
     /* Поля вокруг содержимого ячеек */
     border: 0px solid black;
     /* Граница вокруг ячеек */
     color: white;
 }

 .th_AZS_Choose {
     /* Шапка таблици*/
     text-align: center;
     /* Выравнивание по левому краю */
     background: rgb(4, 15, 15);
     /* Цвет фона ячеек */
     padding: 5px;
     /* Поля вокруг содержимого ячеек */
     border: 0px solid black;
     /* Граница вокруг ячеек */
     color: white;
 }

 .td_Stage {
     align-items: center;
     border: 0px solid black;
     text-align: center;
     vertical-align: text-top;
     font-size: 12px;
 }

 .td_Data {
     align-items: center;
     border: 0px solid black;
     text-align: right;
     vertical-align: text-top;
     max-width: 95px;
     width: 370px;
     height: 15px;     
 }

 .td_Data_Max {
     align-items: center;
     border: 0px solid black;
     text-align: right;
     vertical-align: text-top;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 700;
     color: red;
     height: 15px;
 }

 .td_Data_MaxHead {
     align-items: center;
     border: 0px solid black;
     text-align: right;
     vertical-align: text-top;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 700;
     color: blue;
     height: 15px;
 }
